 <div style="background-color: cyan; ">
    <p style="font-size: 24px; font-weight: bold; color: blue;text-align: center;">ASSINGEMENT 2</p>
</div>

## <font color='deeppink'>Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.</font>
#### <font color='blue'>This task will be done in following steps:</font>
#### <font color='blue'>1. First get the webpage https://www.naukri.com/</font>
#### <font color='blue'>2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.</font>
#### <font color='blue'>3. Then click the search button.</font>
#### <font color='blue'>4. Then scrape the data for the first 10 jobs results you get.</font>
#### <font color='blue'>5. Finally create a dataframe of the scraped data</font>

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.by import By

In [13]:
#first connect to the driver
driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\deep_chromedriver\chromedriver.exe')

C:\Users\Deepshika\AppData\Local\Temp\ipykernel_12608\681551397.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\deep_chromedriver\chromedriver.exe')

In [104]:
#opening the naukari page on automated chrome browser
driver.get('https://www.naukri.com/')

In [105]:
#entering job title by using CLASS

designation= driver.find_element(By.CLASS_NAME,'suggestor-input ') 
#write element for single and elements will use for multiple
designation.send_keys('Data Analyst')

In [107]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input') #absolute xpath : started with single slash
location.send_keys('Bangalore')

In [108]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [109]:
job_title=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Analyst',
 'Data Analyst',
 'Data Analyst Job Opportunity - Tavant Offshore',
 'Data Analyst',
 'Tech Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Optimal Cost - Data Analyst || Bangalore',
 'Data Analyst',
 'K12 Techno Services - Data Analyst - IIM/ISB/MDI/FMS/SP Jain']

In [110]:
job_location=[]


loc_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') #relative XPATH
for i in loc_tags[0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Hybrid - Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru, Bangalore North',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [111]:
company_name=[]

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
company_name

['Spectrum Talent Management',
 'Trigent Software',
 'Tavant Technologies',
 'Target',
 'Wipro',
 'Aon',
 'Capco',
 '2coms',
 'Novel Office',
 'K12 Techno Services']

In [112]:
exp_required=[]
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp_required.append(i.text)
exp_required

['2-4 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '3-6 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '4-9 Yrs']

In [113]:
posted_date=[]
date=driver.find_elements(By.XPATH,'//span[@class="fleft postedDate"]')
for i in date[0:10]:
    posted_date.append(i.text)
print(len(posted_date))
posted_date

10

['1 Day Ago',
 '6 Days Ago',
 '1 Day Ago',
 '4 Days Ago',
 '14 Days Ago',
 '7 Days Ago',
 '1 Day Ago',
 '1 Day Ago',
 '1 Day Ago',
 '14 Days Ago']

In [114]:
salary=[]
sal=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in sal[0:10]:
    salary.append(i.text)
print(len(salary))
#salary

10

In [115]:
df= pd.DataFrame({
                'Job titles':job_title,
                'Job Location': job_location,
                'Company name': company_name,
                'Experience required':exp_required,
                'Posted date': posted_date,
                'Salary':salary
})
df

,Job titles,Job Location,Company name,Experience required,Posted date,Salary
0,Data Analyst,Bangalore/Bengaluru,Spectrum Talent Management,2-4 Yrs,1 Day Ago,Not disclosed
1,Data Analyst,Bangalore/Bengaluru,Trigent Software,2-5 Yrs,6 Days Ago,Not disclosed
2,Data Analyst Job Opportunity - Tavant Offshore,Bangalore/Bengaluru,Tavant Technologies,4-9 Yrs,1 Day Ago,5-15 Lacs PA
3,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs,4 Days Ago,Not disclosed
4,Tech Data Analyst,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram",Wipro,4-7 Yrs,14 Days Ago,14-19 Lacs PA
5,Data Analyst,Hybrid - Bangalore/Bengaluru,Aon,3-6 Yrs,7 Days Ago,Not disclosed
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Chennai",Capco,6-10 Yrs,1 Day Ago,Not disclosed
7,Optimal Cost - Data Analyst || Bangalore,"Bangalore/Bengaluru, Bangalore North",2coms,2-7 Yrs,1 Day Ago,"90,000-3 Lacs PA"
8,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs,1 Day Ago,Not disclosed
9,K12 Techno Services - Data Analyst - IIM/ISB/M...,Bangalore/Bengaluru,K12 Techno Services,4-9 Yrs,14 Days Ago,Not disclosed

In [116]:
driver.close()

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.</font>
#### <font color='blue'>This task will be done in following steps:</font>
#### <font color='blue'>1. First get the webpage https://www.naukri.com/</font>
#### <font color='blue'>2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.</font>
#### <font color='blue'>3. Then click the searchbutton.</font>
#### <font color='blue'>4. Then scrape the data for the first 10 jobs results you get.</font>
#### <font color='blue'>5. Finally create a dataframe of the scraped data</font>

In [118]:
driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\chromedriver\chromedriver.exe')

C:\Users\Deepshika\AppData\Local\Temp\ipykernel_19292\4009094376.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\chromedriver\chromedriver.exe')

In [119]:
driver.get('https://www.naukri.com/')

In [120]:
#entering job title by using CLASS

designation= driver.find_element(By.CLASS_NAME,'suggestor-input ') 
designation.send_keys('Data Scientist')

In [121]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input') #absolute xpath : started with single slash
location.send_keys('Bangalore')

In [122]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [123]:
job_title=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#job_title

In [124]:
job_location=[]


loc_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') #relative XPATH
for i in loc_tags[0:10]:
    job_location.append(i.text)
len(job_location)

10

In [125]:
company_name=[]

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
company_name

['Persistent',
 'PwC',
 'Accenture',
 'Accenture',
 'BYJUS',
 'Fractal Protocol',
 'Fractal Protocol',
 'Fractal Protocol',
 'Citicorp Finance',
 'Tata Consultancy Services (TCS)']

In [126]:
exp_required=[]

exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp_required.append(i.text)
exp_required

['5-12 Yrs',
 '7-9 Yrs',
 '2-4 Yrs',
 '6-8 Yrs',
 '0-1 Yrs',
 '4-8 Yrs',
 '5-11 Yrs',
 '3-7 Yrs',
 '7-12 Yrs',
 '7-12 Yrs']

In [127]:
posted_date=[]
date=driver.find_elements(By.XPATH,'//span[@class="fleft postedDate"]')
for i in date[0:10]:
    posted_date.append(i.text)
print(len(posted_date))
posted_date

10

['4 Days Ago',
 '3 Days Ago',
 '29 Days Ago',
 '29 Days Ago',
 '1 Day Ago',
 '18 Days Ago',
 '18 Days Ago',
 '18 Days Ago',
 '4 Days Ago',
 '29 Days Ago']

In [129]:
salary=[]
sal=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in sal[0:10]:
    salary.append(i.text)
print(len(salary))
salary

10

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [130]:
df= pd.DataFrame({
                'Job titles':job_title,
                'Job Location': job_location,
                'Company name': company_name,
                'Experience required':exp_required,
                'Posted date': posted_date,
                'Salary':salary
})
df

,Job titles,Job Location,Company name,Experience required,Posted date,Salary
0,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs,4 Days Ago,Not disclosed
1,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs,3 Days Ago,Not disclosed
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs,29 Days Ago,Not disclosed
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs,29 Days Ago,Not disclosed
4,Data Scientist Intern,Permanent Remote,BYJUS,0-1 Yrs,1 Day Ago,Not disclosed
5,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Protocol,4-8 Yrs,18 Days Ago,Not disclosed
6,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Protocol,5-11 Yrs,18 Days Ago,Not disclosed
7,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Protocol,3-7 Yrs,18 Days Ago,Not disclosed
8,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune",Citicorp Finance,7-12 Yrs,4 Days Ago,Not disclosed
9,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),7-12 Yrs,29 Days Ago,Not disclosed

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q3: In this question you have to scrape data using the filters available on the webpage as shown below:</font>
### <font color='red'>You have to use the location and salary filter.</font>
### <font color='red'>You have to scrape data for “Data Scientist” designation for first 10 job results.</font>
### <font color='red'>You have to scrape the job-title, job-location, company name, experience required. </font>
### <font color='red'>The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs</font>
#### <font color='blue'>The task will be done as shown in the below steps:</font>
> #### <font color='blue'>1. first get the webpage https://www.naukri.com/</font>
> #### <font color='blue'>2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.</font>
> #### <font color='blue'>3. Then click the searchbutton.</font>
> #### <font color='blue'>4. Then apply the location filter and salary filter by checking the respective boxes</font>
> #### <font color='blue'>5. Then scrape the data for the first 10 jobs results youget.</font>
> #### <font color='blue'>6. Finally create a dataframe of the scraped data.</font>

In [131]:

driver.get('https://www.naukri.com/')

In [132]:

designation= driver.find_element(By.CLASS_NAME,'suggestor-input ') 
designation.send_keys('Data Scientist')

In [134]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
search.click()

In [136]:
search_sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
search_sal.click()

In [137]:
job_title=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Data Scientist',
 'Analyst-Data Science',
 'Analyst-Data Science',
 'Senior Data Scientist',
 'Engineer/Assistant Manager - Data Scientist',
 'Data Scientist',
 'Business Development Manager For Recruitment Firm || 5 Days || 40 LPA',
 'Data Science & AI Specialist',
 'Associate Data Scientist - ML & NLP',
 'Data Scientist']

In [138]:
job_location=[]


loc_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]') #relative XPATH
for i in loc_tags[0:10]:
    job_location.append(i.text)
len(job_location)

10

In [139]:
company_name=[]

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
company_name

['Tabsquare',
 'AMERICAN EXPRESS',
 'AMERICAN EXPRESS',
 'RecruitEForU',
 'Goods and Services Tax Network (GSTN)',
 'Gartner India Research &amp; Advisory Services Pvt Ltd',
 'Rimpac Hr Services Llp',
 'BT',
 'Gartner India Research &amp; Advisory Services Pvt Ltd',
 'Gujarat Fluorochemicals']

In [140]:
exp_required=[]

exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp_required.append(i.text)
exp_required

['1-3 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '1-6 Yrs',
 '3-5 Yrs',
 '2-4 Yrs',
 '1-2 Yrs']

In [141]:
df= pd.DataFrame({
                'Job titles':job_title,
                'Job Location': job_location,
                'Company name': company_name,
                'Experience required':exp_required
})
df

,Job titles,Job Location,Company name,Experience required
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
1,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
4,Engineer/Assistant Manager - Data Scientist,Delhi / NCR,Goods and Services Tax Network (GSTN),2-7 Yrs
5,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
6,Business Development Manager For Recruitment F...,Gurgaon/Gurugram,Rimpac Hr Services Llp,1-6 Yrs
7,Data Science & AI Specialist,Gurgaon/Gurugram,BT,3-5 Yrs
8,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:</font>
### <font color='red'>1. Brand</font>
### <font color='red'>2. ProductDescription</font>
### <font color='red'>3. Price</font>
### <font color='red'>4. Discount</font>
#### <font color='blue'>To scrape the data you have to go through following steps:</font>
> #### <font color='blue'>1. Go to Flipkart webpage by url :https://www.flipkart.com/</font>
> #### <font color='blue'>2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon</font>
> #### <font color='blue'>3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.</font>
> #### <font color='blue'>4. After scraping data from the first page, go to the “Next” Button at the bottom other page , thenclick on it.</font>
> #### <font color='blue'>5. Now scrape data from this page asusual</font>
> #### <font color='blue'>6. Repeat this until you get data for 100 sunglasses.</font>

In [143]:
driver.get('https://www.flipkart.com/')

In [144]:

search= driver.find_element(By.CLASS_NAME,'_3704LK') 
search.send_keys('sunglasses')

In [145]:
search_button=driver.find_element(By.CLASS_NAME,'L0Z3Pu') #choose class from button
search_button.click()
time.sleep(4)

In [197]:
#to get 100 brands name
brand=[]

title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
c=1
while c<100: # loop works if c is lower than 100
    for i in (title_tags): 
        if c>100: #if c is 100, no further tags will analyse
            break
        else:
            brand.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(brand))
#brand

100

In [196]:
product_desc=[]

p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
c=1
while c<100: # loop works if c is lower than 100
    for i in (p_desc): 
        if c>100: 
            break
        else:
            product_desc.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(product_desc))
#product_desc

100

In [199]:
price=[]

price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
c=1
while c<100: 
    for i in (price_tag): 
        if c>100: 
            break
        else:
            price.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(price))
#price

100

In [203]:
discount=[]

discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
c=1
while c<100: 
    for i in (discount_tag): 
        if c>100: 
            break
        else:
            discount.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(discount))
#discount

100

In [204]:
df= pd.DataFrame({
                'Brand':brand,
                'Product Description': product_desc,
                'Price':price,
                'Discount':discount
})
df

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹391,80% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹423,78% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹479,40% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (58),₹649,74% off
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
97,PIRASO,"UV Protection, Riding Glasses Rectangular Sung...",₹294,88% off
98,Fastrack,UV Protection Wayfarer Sunglasses (56),₹599,40% off
99,Singco India,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹502,74% off

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART </font>
> ### <font color='red'>1. Rating</font>
> ### <font color='red'>2. Review summary</font>
> ### <font color='red'>3. Full review</font>
> ### <font color='red'>4. You have to scrape this data for first 100reviews.</font>

In [14]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [17]:
rating=[]

rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
c=1
while c<100: 
    for i in (rating_tag): 
        if c>100: 
            break
        else:
            rating.append(i.text)
            c=c+1
        


print(len(rating))
#rating

100

In [18]:

review=[]

review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
c=1
while c<100: 
    for i in (review_tag): 
        if c>100: 
            break
        else:
            review.append(i.text)
            c=c+1
        

print(len(review))
#review

100

In [23]:
full_review=[]

review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
c=1
while c<100: 
    for i in (review_tag): 
        if c>100: 
            break
        else:
            l=i.text
            l= l.replace('\n',' ') #to remove \n 
            full_review.append(l)
            c=c+1
        


print(len(full_review))
#full_review

100

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.  I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  I’ve attached my puppy pics and no fi... READ MORE',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",

In [24]:
df= pd.DataFrame({
                'Rating': rating,
                'Review summary':review,
                'Full review':full_review})
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product Delivery was...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money 5 star rating Excellent camera...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
99,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.</font>
### <font color='red'>You have to scrape 3 attributes of each sneaker:</font>
> ### <font color='red'>1. Brand</font>
> ### <font color='red'>2. Product Description</font>
> ### <font color='red'>3. Price</font>

In [211]:
driver.get('https://www.flipkart.com/')

In [212]:
search= driver.find_element(By.CLASS_NAME,'_3704LK') 
search.send_keys('sneakers')

In [213]:
search_button=driver.find_element(By.CLASS_NAME,'L0Z3Pu') 
search_button.click()
time.sleep(4)

In [217]:
brand=[]

title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
c=1
while c<100: 
    for i in (title_tags): 
        if c>100: 
            break
        else:
            brand.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(brand))
#brand

100

In [216]:
product_desc=[]

p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
c=1
while c<100: # loop works if c is lower than 100
    for i in (p_desc): 
        if c>100: 
            break
        else:
            product_desc.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(product_desc))
#product_desc

100

In [219]:
price=[]

price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
c=1
while c<100: 
    for i in (price_tag): 
        if c>100: 
            break
        else:
            price.append(i.text)
            c=c+1
        

    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #to get the next page


print(len(price))
#price

100

In [220]:
df= pd.DataFrame({
                'Brand':brand,
                'Product Description': product_desc,
                'Price':price})
df

     Brand                                Product Description   Price
0   BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹399
1       TR  Casual Shoes| Caual Sneakers| White Sneakers F...    ₹299
2      SFR  2006 Trenddy Fashion Sporty Casuals Sneakers R...    ₹279
3   Shozie  Stylish Sneakers Shoes for Women And Girls Sne...    ₹355
4      SFR                                   Sneakers For Men    ₹249
..     ...                                                ...     ...
95  BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹399
96    aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...    ₹349
97    aadi  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹349
98    PUMA                                UP Sneakers For Men  ₹1,839
99  Labbin  Casual Sneakers White Outdoor Shoes For Boys A...    ₹499

[100 rows x 3 columns]

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”:</font>
### <font color='red'>After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:</font>
> ### <font color='red'>1. Title</font>
> ### <font color='red'>2. Ratings</font>
> ### <font color='red'>3. Price</font>

In [240]:
driver.get('https://www.amazon.in/')

In [226]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input') 
search.send_keys('Laptop')

In [228]:
search_button=driver.find_element(By.ID,'nav-search-submit-button') 
search_button.click()
time.sleep(4)

In [229]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/li[11]/span/a/div/label/i') 
search_button.click()

In [235]:
title=[]


title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]') 
for i in title_tags[0:10]:
    title.append(i.text)
print(len(title))
title

10

['ASUS Vivobook 14, Intel Core i7-1165G7 11th Gen, 14" (35.56 cm) FHD, Thin and Laptop (16GB/512GB SSD/Intel Iris Xe Graphics/Windows 11/Office 2021/FP Sensor/Silver/1.55 kg), X415EA-EK701WS',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel Iris Xe Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver,14-dv2015TU',
 'HP Victus Gaming Latest 12th Gen Intel Core i7 12650H 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Rs Time/Win 11/MSO/BL KB/B&O/Alexa/Xbox Pass),15-fa0073TX',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm)Creator Laptop with OLED,UWVA,Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO,14-eh0024TU',
 '(Renewed) ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cm) WQHD 165Hz/3ms, Intel Core i7-12650H 12th Gen, 6GB RTX 3060 Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Black/2 Kg), FX517ZM-HQ042WS',
 'ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/90WHrs Battery/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'Lenovo ThinkPad E14 Intel Core i7 12th Gen 14" FHD IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/Backlit Keybaord/FPR/Black/1.59 kg), 21E3S05800',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Dell Inspiron 5320 Laptop, Intel i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)']

In [236]:
rating=[]


rate_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]') #relative XPATH
for i in rate_tags[0:10]:
    rating.append(i.text)
print(len(rating))
rating

10

['4.2', '4.2', '4.3', '4.3', '4.0', '4.4', '3.5', '3.8', '3.7', '4.3']

In [237]:
price=[]


price_tags=driver.find_elements(By.CLASS_NAME,'a-price-whole') 
for i in price_tags[0:10]:
    price.append(i.text)
print(len(price))
price

10

['56,990',
 '79,990',
 '84,990',
 '79,990',
 '92,990',
 '1,12,483',
 '95,990',
 '98,990',
 '89,990',
 '84,590']

In [239]:
df= pd.DataFrame({
                'Title':title,
                'Rating': rating,
                'Price':price})
df

                                               Title Rating     Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    4.2    56,990
1  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    4.2    79,990
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    4.3    84,990
3  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.3    79,990
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.0    92,990
5  (Renewed) ASUS TUF Dash F15 (2022), 15.6-inch ...    4.4  1,12,483
6  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...    3.5    95,990
7  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    3.8    98,990
8  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    3.7    89,990
9  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...    4.3    84,590

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.</font>
### <font color='red'>The above task will be done in following steps: </font>
> ### <font color='red'>1. First get the webpagehttps://www.azquotes.com/</font>
> ### <font color='red'>2. Click on TopQuotes</font>
> ### <font color='red'>Than scrap a) Quote b) Author c) Type Of Quotes</font>

In [241]:
#get the webpage
driver.get('https://www.azquotes.com/')

In [242]:
# Click on TopQuotes
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a') 
search_button.click()

In [251]:
quote=[]


title_tags=driver.find_elements(By.XPATH,'//a[@class="title"]') 
for i in title_tags:
    quote.append(i.text)
print(len(quote))
quote

100

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No matter what people tell you, words and ideas can change the world.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 "God doesn't require us to succeed, he only requires that you try.",
 'Change your thoughts and you change your world.']

In [247]:
author=[]


author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]') 
for i in author_tags:
    author.append(i.text)
print(len(author))
#author

100

In [248]:
type_quote=[]


type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]') 
for i in type_tags:
    type_quote.append(i.text)
print(len(type_quote))
#type_quote

100

In [250]:
df= pd.DataFrame({
                'Quote':quote,
                'Author': author,
                'Type of quote':type_quote})
df

,Quote,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.</font>
### <font color='red'>This task will be done in following steps:</font>
> ### <font color='red'>1. First get the webpagehttps://www.jagranjosh.com/</font>
> ### <font color='red'>2. Then You have to click on the GK option</font>
> ### <font color='red'>3. Then click on the List of all Prime Ministers of India</font>
> ### <font color='red'>4. Then scrap the mentioned data and make the DataFrame</font>

In [92]:
driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\deep_chromedriver\chromedriver.exe')

C:\Users\Deepshika\AppData\Local\Temp\ipykernel_12608\2567060123.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\deep_chromedriver\chromedriver.exe')

In [81]:
#getting the webpage
driver.get('https://www.jagranjosh.com/')

In [82]:
#click on the GK option
search_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a') 
search_button.click()

In [83]:
#click on the List of all Prime Ministers of India
url_path=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a') 
url=url_path.get_attribute('href')
url

'https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1'

In [84]:
driver.get(url)

In [68]:
name=[]


title_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr/td[2]/p') 
for i in title_tags:
    name.append(i.text)
print(len(name))
name

18

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [69]:
Born_Dead=[]
title_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr/td[3]/p') 
for i in title_tags:
    Born_Dead.append(i.text)
print(len(Born_Dead))
Born_Dead

18

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [89]:
term_of_office=[]
title_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[3]/table/tbody/tr/td[4]/p[1]') 
for i in title_tags:
    term_of_office.append(i.text)
print(len(term_of_office))
term_of_office

18

['15 August 1947 to 27 May 1964',
 '27 May 1964 to 9 June 1964,',
 '9 June 1964 to 11 January 1966',
 '11 January 1966 to 24 January 1966',
 '24 January 1966 to 24 March 1977',
 '24 March 1977 to  28 July 1979 ',
 '28 July 1979 to 14 January 1980',
 '14 January 1980 to 31 October 1984',
 '31 October 1984 to 2 December 1989',
 '2 December 1989 to 10 November 1990',
 '10 November 1990 to 21 June 1991',
 '21 June 1991 to 16 May 1996',
 '16 May 1996 to 1 June 1996',
 '1 June 1996 to 21 April 1997',
 '21 April 1997 to 19 March 1998 ',
 '19 March 1998 to 22 May 2004 ',
 '22 May 2004 to 26 May 2014   ',
 '26 May 2014 - Present']

In [90]:
remarks=[]
title_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[3]/table/tbody/tr/td[5]/p') 
for i in title_tags:
    remarks.append(i.text)
print(len(remarks))
remarks

18

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [91]:
df= pd.DataFrame({
                'Name':name,
                'Born-Dead': Born_Dead,
                'Term of office': term_of_office,
                'Remarks':remarks})
df

,Name,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# <font color='cyan'>--------------------------------------------------------------------------------------------------------------</font>

## <font color='deeppink'>Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/ </font>
### <font color='red'>This task will be done in following steps:</font>
> ### <font color='red'>1. First get the webpagehttps://www.motor1.com/</font>
> ### <font color='red'>2. Then You have to type in the search bar ’50 most expensive cars’</font>
> ### <font color='red'>3. Then click on 50 most expensive carsin the world.</font>
> ### <font color='red'>4. Then scrap the mentioned data and make the dataframe</font>

In [93]:
driver.get('https://www.motor1.com/')

In [95]:
search_button=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/button') 
search_button.click()

In [96]:
search= driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input') 
search.send_keys('50 most expensive cars in the world')

In [97]:
search_button=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]') 
search_button.click()

In [98]:
url=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a') 
URL=url.get_attribute('href')
URL

'https://www.motor1.com/features/308149/most-expensive-new-cars-ever/'

In [99]:
driver.get(URL)

In [100]:
name=[]


title_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']") 
for j,i in zip(range(50),title_tags):
    name.append(i.text)
print(len(name))
name

50

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [101]:
price=[]


price_tag=driver.find_elements(By.XPATH,'//*[@class="postBody description e-content"]/p/strong') 
for j,i in zip(range(50),price_tag):
    price.append(i.text.replace('Price: ',"")) #to remove the price word
print(len(price))
price

50

['$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$10.8 Million',
 '$12.8 Million',
 '$13.4 Million']

In [54]:
df= pd.DataFrame({
                'Car Name':name,
                'Price':price})
df

                           Car Name          Price
0                     De Tomaso P72   $1.3 Million
1                 Ferrari LaFerrari   $1.4 Million
2                     Pagani Huayra   $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   $1.7 Million
5                     Ferrari Monza   $1.7 Million
6                Gordon Murray T.33   $1.7 Million
7                 Koenigsegg Gemera   $1.7 Million
8                       Zenvo TSR-S   $1.7 Million
9                Hennessey Venom F5   $1.7 Million
10                  Bentley Bacalar   $1.8 Million
11    Hispano Suiza Carmen Boulogne   $1.9 Million
12           Bentley Mulliner Batur   $1.9 Million
13                     Deus Vayanne   $2.0 Million
14                      SSC Tuatara   $2.0 Million
15                      Lotus Evija  $2.0 Million*
16              Aston Martin Vulcan   $2.1 Million
17                       Delage D12   $2.3 Million
18                McLaren Speedtail   $2.3 Million
19                     Rimac Nevera   $2.3 Million
20                    Pagani Utopia   $2.4 Million
21             Pininfarina Battista   $2.5 Million
22                Ferrari FXX K Evo   $2.5 Million
23               Gordon Murray T.50   $2.6 Million
24             Lamborghini Countach   $2.6 Million
25         Mercedes-AMG Project One   $2.6 Million
26              Aston Martin Victor   $2.7 Million
27      Hennessey Venom F5 Roadster   $3.0 Million
28                 Koenigsegg Jesko   $3.0 Million
29            Aston Martin Valkyrie   $3.0 Million
30        W Motors Lykan Hypersport   $3.2 Million
31                    McLaren Solus   $3.4 Million
32        Pagani Huayra Roadster BC   $3.5 Million
33         Bugatti Chiron Pur Sport   $3.5 Million
34                 Lamborghini Sian   $3.6 Million
35                 Koenigsegg CC850   $3.6 million
36  Bugatti Chiron Super Sport 300+   $3.7 Million
37               Lamborghini Veneno   $3.9 Million
38                   Bugatti Bolide   $4.5 Million
39                  Bugatti Mistral   $4.7 Million
40              Pagani Huayra Imola   $5.0 Million
41                     Bugatti Divo   $5.4 Million
42              SP Automotive Chaos   $5.8 Million
43                 Pagani Codalunga   $6.4 Million
44         Mercedes-Maybach Exelero   $7.4 Million
45               Bugatti Centodieci   $8.0 Million
46          Bugatti Chiron Profilée   $9.0 Million
47             Rolls-Royce Sweptail  $10.8 Million
48         Bugatti La Voiture Noire  $12.8 Million
49           Rolls-Royce Boat Tail*  $13.4 Million

# <font color='cyan'>-------------------------------------------THE END------------------------------------------------</font>