<div style="background-color: cyan; ">
    <p style="font-size: 24px; font-weight: bold; color: blue;text-align: center;">ASSINGEMENT 1</p>
</div>

In [1]:
#importing libraries
from bs4 import BeautifulSoup as bfs
import requests
import pandas as pd

## <font color='deeppink'>1) Write a python program to display all the header tags from wikipedia.org and make data frame</font>

In [11]:
#getting the page
page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [12]:
soup= bfs(page.content)

In [13]:
#finding header tags
titles=[]
for i in soup.find_all(["h1",'h2','h3','h4','h5','h6']):
    titles.append(i.text)
titles

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [6]:
df = pd.DataFrame({'Header': titles})
print(df)

                           Header
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

## <font color='deeppink'>2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) </font>

In [166]:
#getting web page
page= requests.get('https://www.imdb.com/chart/top/')
page

In [167]:
soup= bfs(page.content)

In [168]:
#Extracting names
name=[]
for j,i in zip(range(50),(soup.find_all("td", class_="titleColumn"))):
    name.append((i.text.splitlines(0)[2]).strip())
#name

In [169]:
#Extracting year

year=[]
for j,i in zip(range(50),(soup.find_all("span", class_="secondaryInfo"))):
    year.append(i.text)
len(year)
#year

50

In [170]:
#Extracting rating

rating=[]
for j,i in zip(range(50),(soup.find_all("td", class_="ratingColumn imdbRating"))):
    rating.append(i.text.splitlines(0)[1])
len(rating)
#rating

50

In [171]:
#Making dataframe
movie_df=pd.DataFrame({'Name': name,
                      'Rating': rating,
                      'Year of release': year})
movie_df

                                                 Name Rating Year of release
0                            The Shawshank Redemption    9.2          (1994)
1                                       The Godfather    9.2          (1972)
2                                     The Dark Knight    9.0          (2008)
3                               The Godfather Part II    9.0          (1974)
4                                        12 Angry Men    9.0          (1957)
5                                    Schindler's List    8.9          (1993)
6       The Lord of the Rings: The Return of the King    8.9          (2003)
7                                        Pulp Fiction    8.8          (1994)
8   The Lord of the Rings: The Fellowship of the Ring    8.8          (2001)
9                     Il buono, il brutto, il cattivo    8.8          (1966)
10                                       Forrest Gump    8.8          (1994)
11                                         Fight Club    8.7          (1999)
12              The Lord of the Rings: The Two Towers    8.7          (2002)
13                                          Inception    8.7          (2010)
14                            The Empire Strikes Back    8.7          (1980)
15                                         The Matrix    8.7          (1999)
16                                         GoodFellas    8.7          (1990)
17                    One Flew Over the Cuckoo's Nest    8.6          (1975)
18                                              Se7en    8.6          (1995)
19                               Shichinin no samurai    8.6          (1954)
20                              It's a Wonderful Life    8.6          (1946)
21                           The Silence of the Lambs    8.6          (1991)
22                                Saving Private Ryan    8.6          (1998)
23                                     Cidade de Deus    8.6          (2002)
24                                       Interstellar    8.6          (2014)
25                                    La vita è bella    8.6          (1997)
26                                     The Green Mile    8.6          (1999)
27                                          Star Wars    8.5          (1977)
28                         Terminator 2: Judgment Day    8.5          (1991)
29                                 Back to the Future    8.5          (1985)
30                      Sen to Chihiro no kamikakushi    8.5          (2001)
31                                        The Pianist    8.5          (2002)
32                                             Psycho    8.5          (1960)
33                                       Gisaengchung    8.5          (2019)
34                                               Léon    8.5          (1994)
35                                      The Lion King    8.5          (1994)
36                                          Gladiator    8.5          (2000)
37                                 American History X    8.5          (1998)
38                                       The Departed    8.5          (2006)
39                                 The Usual Suspects    8.5          (1995)
40                                       The Prestige    8.5          (2006)
41                                           Whiplash    8.5          (2014)
42                                         Casablanca    8.5          (1942)
43                                     Hotaru no haka    8.5          (1988)
44                                            Seppuku    8.5          (1962)
45                                   The Intouchables    8.5          (2011)
46                                       Modern Times    8.4          (1936)
47                       Once Upon a Time in the West    8.4          (1968)
48                              Nuovo Cinema Paradiso    8.4          (1988)
49                                        Rear Window    8.4          (1954)

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

## <font color='deeppink'>3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [53]:
#getting page
page= requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [54]:
soup= bfs(page.content)

In [55]:
#Extracting names

name=[]
for j,i in zip(range(50),(soup.find_all("td", class_="titleColumn"))):
    name.append((i.text.splitlines(0)[2]).strip())
#len(year)
#name

In [56]:
#Extracting rating

rating=[]
for j,i in zip(range(50),(soup.find_all("td", class_="ratingColumn imdbRating"))):
    rating.append(i.text.splitlines(0)[1])
len(rating)

50

In [57]:
#Extracting year

year=[]
for j,i in zip(range(50),(soup.find_all("span", class_="secondaryInfo"))):
    year.append(i.text)
len(year)

50

In [58]:
#making dataframe
Indian_movie_df=pd.DataFrame({'Name': name,
                      'Rating': rating,
                      'Year of release': year})
Indian_movie_df

                                   Name Rating Year of release
0   Ramayana: The Legend of Prince Rama    8.6          (1993)
1            Rocketry: The Nambi Effect    8.4          (2022)
2                               Nayakan    8.4          (1987)
3                              Gol Maal    8.4          (1979)
4                            Anbe Sivam    8.4          (2003)
5                           777 Charlie    8.4          (2022)
6                     Pariyerum Perumal    8.4          (2018)
7                              Jai Bhim    8.4          (2021)
8                              3 Idiots    8.4          (2009)
9                      Manichitrathazhu    8.4          (1993)
10                          Apur Sansar    8.4          (1959)
11                                #Home    8.3          (2021)
12                      Soorarai Pottru    8.3          (2020)
13                         Black Friday    8.3          (2004)
14                    Kumbalangi Nights    8.3          (2019)
15                    C/o Kancharapalem    8.3          (2018)
16                     Taare Zameen Par    8.3          (2007)
17                             Kireedam    8.3          (1989)
18                               Dangal    8.3          (2016)
19                               Kaithi    8.3          (2019)
20                               Jersey    8.3          (2019)
21                                   96    8.3          (2018)
22                          Maya Bazaar    8.2          (1957)
23                            Natsamrat    8.2          (2016)
24                           Drishyam 2    8.2          (2021)
25                               Asuran    8.2          (2019)
26                           Sita Ramam    8.2          (2022)
27                         Thevar Magan    8.2          (1992)
28                           Visaaranai    8.2          (2015)
29                  Sarpatta Parambarai    8.2          (2021)
30                           Thalapathi    8.2          (1991)
31                         Nadodikkattu    8.2          (1987)
32                      Pather Panchali    8.2          (1955)
33                             Drishyam    8.2          (2013)
34                   Jaane Bhi Do Yaaro    8.2          (1983)
35                         Thani Oruvan    8.2          (2015)
36                         Vada Chennai    8.2          (2018)
37                            Aparajito    8.2          (1956)
38                         Sardar Udham    8.2          (2021)
39                    Khosla Ka Ghosla!    8.2          (2006)
40                              Anniyan    8.1          (2005)
41                             Ratsasan    8.1          (2018)
42                        Chupke Chupke    8.1          (1975)
43                   Gangs of Wasseypur    8.1          (2012)
44                              Peranbu    8.1          (2018)
45                             Drishyam    8.1          (2015)
46                       Bangalore Days    8.1          (2014)
47                             Mahanati    8.1          (2018)
48                               Premam    8.1          (2015)
49                                Satya    8.1          (1998)

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

## <font color='deeppink'>4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make data frame. </font>

In [178]:
#getting page
page= requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [179]:
soup= bfs(page.content)

In [180]:
#Extracting names

name=[]
for i in soup.find_all("h3"):
    name.append(i.text.split("(")[0])
len(name)

14

In [181]:
#Extracting term of office

office=[]
for i in soup.find_all('div',class_='presidentListing'):
    a=i.text.splitlines(0)[2]
    a=a.split(":")
    office.append(a[1])
len(office)

14

In [182]:
df=pd.DataFrame({'Name': name,
                      'Term of office': office})
df

,Name,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

## <font color='deeppink'>5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame </font>
#### <font color='red'>a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.</font>

#### <font color='red'>b) Top 10 ODI Batsmen along with the records of their team and rating.</font>

#### <font color='red'>c) Top 10 ODI bowlers along with the records of their team and rating.</font>

In [44]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [45]:
soup= bfs(page.content)

<div style="text-align: center;color: cyan "> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </div>

### <font color='orangered'>5a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. </font>

In [185]:
#Extracting names

name=[]
for j, i in zip(range(10),(soup.find_all("span", class_="u-hide-phablet"))):
    name.append(i.text)
#(name)

In [186]:
#Extracting match

match=[]
match.append((soup.find('td',class_="rankings-block__banner--matches")).text)
for j, i in zip(range(9),(soup.find_all("tr", class_="table-body"))):
    match.append(i.text.splitlines(0)[7])
(match)

['44', '32', '29', '36', '25', '27', '36', '34', '20', '41']

In [52]:
#Extracting points

points=[]
points.append((soup.find('td',class_="rankings-block__banner--points")).text)
for j, i in zip(range(9),(soup.find_all("tr", class_="table-body"))):
    points.append(i.text.splitlines(0)[8])
#(points)

In [188]:
#Extracting rating

rating=[]
rating.append((soup.find('td',class_="rankings-block__banner--rating u-text-right")).text.splitlines(0)[1].strip())
for j, i in zip(range(9),(soup.find_all("tr", class_="table-body"))):
    rating.append(i.text.splitlines(0)[9])
(rating)

['114', '112', '111', '111', '106', '103', '95', '88', '71', '71']

In [189]:
match_df=pd.DataFrame({'Name': name,
                       'Match':match,
                       'Points':points,
                      'Rating': rating})
match_df

           Name Match Points Rating
0         India    44  5,010    114
1     Australia    32  3,572    112
2   New Zealand    29  3,229    111
3       England    36  3,988    111
4      Pakistan    25  2,649    106
5  South Africa    27  2,775    103
6    Bangladesh    36  3,415     95
7     Sri Lanka    34  2,976     88
8   Afghanistan    20  1,419     71
9   West Indies    41  2,902     71

<div style="text-align: center;color: cyan "> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </div>

### <font color='orangered'>5b) Top 10 ODI Batsmen along with the records of their team and rating.</font>

In [33]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
print(page)
soup= bfs(page.content)

<Response [200]>

In [17]:
name=[]
name.append((soup.find('div',class_="rankings-block__banner--name")).text)
for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell name"))):
    name.append(i.text.splitlines(0)[1])
(name)

['Babar Azam',
 'Rassie van der Dussen',
 'David Warner',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Shubman Gill',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Kane Williamson']

In [192]:
team=[]
team.append((soup.find('div',class_="rankings-block__banner--nationality")).text.splitlines(0)[2])
for j, i in zip(range(9),(soup.find_all("span", class_="table-body__logo-text"))):
    team.append(i.text)
(team)

['PAK', 'SA', 'AUS', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'IND', 'NZ']

In [19]:
rating=[]
rating.append((soup.find('div',class_="rankings-block__banner--rating")).text)
for j, i in zip(range(9),(soup.find_all("td", {'class':"table-body__cell u-text-right rating"}))):
    rating.append(i.text)
(rating)

['887', '787', '747', '743', '740', '734', '727', '719', '719', '700']

In [194]:
odi_batmen_df=pd.DataFrame({'Name': name,
                       'Team':team,
                      'Rating': rating})
odi_batmen_df

                    Name Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    787
2           David Warner  AUS    747
3        Quinton de Kock   SA    743
4            Imam-ul-Haq  PAK    740
5           Shubman Gill  IND    734
6            Virat Kohli  IND    727
7            Steve Smith  AUS    719
8           Rohit Sharma  IND    719
9        Kane Williamson   NZ    700

<div style="text-align: center;color: cyan "> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </div>

### <font color='orangered'>5c)Top 10 ODI bowlers along with the records of their team and rating. </font>

In [35]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
print(page)
soup= bfs(page.content)

<Response [200]>

In [39]:
name=[]
name.append((soup.find('div',class_="rankings-block__banner--name-large")).text)

for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell rankings-table__name name"))):
    name.append(i.text.replace('\n',''))
(name)

['Mohammed Siraj',
 'Josh Hazlewood',
 'Trent Boult',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi']

In [40]:
team=[]
team.append((soup.find('div',class_="rankings-block__banner--nationality")).text.splitlines(0)[2])
for j, i in zip(range(9),(soup.find_all("span", class_="table-body__logo-text"))):
    team.append(i.text)
(team)

['IND', 'AUS', 'NZ', 'AUS', 'BAN', 'AFG', 'AUS', 'PAK', 'AFG', 'AFG']

In [42]:
rating=[]
rating.append((soup.find('div',class_="rankings-block__banner--rating")).text)
for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell rating"))):
    rating.append(i.text)
(rating)

['729', '727', '708', '665', '663', '659', '655', '641', '637', '631']

In [43]:
odi_bowler_df=pd.DataFrame({'Name': name,
                       'Team':team,
                      'Rating': rating})
odi_bowler_df

               Name Team Rating
0    Mohammed Siraj  IND    729
1    Josh Hazlewood  AUS    727
2       Trent Boult   NZ    708
3    Mitchell Starc  AUS    665
4   Shakib Al Hasan  BAN    663
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    655
7    Shaheen Afridi  PAK    641
8  Mujeeb Ur Rahman  AFG    637
9     Mohammad Nabi  AFG    631

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

## <font color='deeppink'>6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame</font>
#### <font color='red'>a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.</font>
#### <font color='red'>b) Top 10 women’s ODI Batting players along with the records of their team and rating.</font>
#### <font color='red'>c) Top 10 women’s ODI all-rounder along with the records of their team and rating.</font>

<div style="text-align: center;color: cyan "> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </div>

### <font color='orangered'> 6a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.</font>

In [199]:
page= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
print(page)
soup= bfs(page.content)

<Response [200]>

In [200]:
name=[]
for j, i in zip(range(10),(soup.find_all("span", class_="u-hide-phablet"))):
    name.append(i.text)
#name

In [201]:
match=[]
match.append((soup.find('td',class_="rankings-block__banner--matches")).text)
for j, i in zip(range(9),(soup.find_all("tr", class_="table-body"))):
    match.append(i.text.splitlines(0)[7])
(match)

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8']

In [202]:
points=[]
points.append((soup.find('td',class_="rankings-block__banner--points")).text)
for j, i in zip(range(9),(soup.find_all("tr", class_="table-body"))):
    points.append(i.text.splitlines(0)[8])
#(points)

In [203]:
rating=[]
rating.append((soup.find('td',class_="rankings-block__banner--rating u-text-right")).text.splitlines(0)[1].strip())
for j, i in zip(range(9),(soup.find_all("tr", class_="table-body"))):
    rating.append(i.text.splitlines(0)[9])
(rating)

['172', '119', '119', '104', '102', '94', '76', '72', '62', '44']

In [204]:
match_women_df=pd.DataFrame({'Name': name,
                       'Match':match,
                       'Points':points,
                      'Rating': rating})
match_women_df

           Name Match Points Rating
0     Australia    21  3,603    172
1       England    28  3,342    119
2  South Africa    26  3,098    119
3         India    27  2,820    104
4   New Zealand    25  2,553    102
5   West Indies    27  2,535     94
6    Bangladesh    13    983     76
7      Thailand     8    572     72
8      Pakistan    27  1,678     62
9     Sri Lanka     8    353     44

<div style="text-align: center;color: cyan "> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </div>

### <font color='orangered'>6b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [205]:
page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
print(page)
soup= bfs(page.content)

<Response [200]>

In [206]:
name=[]
name.append((soup.find('div',class_="rankings-block__banner--name")).text)
for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell name"))):
    name.append(i.text.splitlines(0)[1])
(name)

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite']

In [207]:
team=[]
team.append((soup.find('div',class_="rankings-block__banner--nationality")).text.splitlines(0)[2])
for j, i in zip(range(9),(soup.find_all("span", class_="table-body__logo-text"))):
    team.append(i.text)
(team)

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'SL', 'NZ']

In [208]:
rating=[]
rating.append((soup.find('div',class_="rankings-block__banner--rating")).text)
for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell u-text-right rating"))):
    rating.append(i.text)
(rating)

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641']

In [209]:
odi_batting_women_df=pd.DataFrame({'Name': name,
                       'Team':team,
                      'Rating': rating})
odi_batting_women_df

                  Name Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7       Rachael Haynes  AUS    680
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    641

<div style="text-align: center;color: cyan "> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ </div>

### <font color='orangered'>6c) Top 10 women’s ODI all-rounder along with the records of their team and rating.</font>

In [59]:
page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
print(page)
soup= bfs(page.content)

<Response [200]>

In [64]:
name=[]
name.append((soup.find('div',class_="rankings-block__banner--name-large")).text)
for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell rankings-table__name name"))):
    name.append(i.text.replace("\n",''))
(name)

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami']

In [65]:
team=[]
team.append((soup.find('div',class_="rankings-block__banner--nationality")).text.splitlines(0)[2])
for j, i in zip(range(9),(soup.find_all("span", class_="table-body__logo-text"))):
    team.append(i.text)
(team)

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND']

In [67]:
rating=[]
rating.append((soup.find('div',class_="rankings-block__banner--rating")).text)
for j, i in zip(range(9),(soup.find_all("td", class_="table-body__cell rating"))):
    rating.append(i.text)
(rating)

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [68]:
odi_allround_women_df=pd.DataFrame({'Name': name,
                       'Team':team,
                      'Rating': rating})
odi_allround_women_df

               Name Team Rating
0   Hayley Matthews   WI    373
1    Natalie Sciver  ENG    371
2      Ellyse Perry  AUS    366
3    Marizanne Kapp   SA    349
4       Amelia Kerr   NZ    336
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    292
7     Jess Jonassen  AUS    250
8          Nida Dar  PAK    232
9    Jhulan Goswami  IND    214

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>


## <font color='deeppink'>7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame </font>
#### <font color='red'>i) Headline </font>
#### <font color='red'>ii) Time</font>
#### <font color='red'>iii) News Link</font>

In [210]:
page= requests.get('https://www.cnbc.com/world/?region=world')
print(page)
soup= bfs(page.content)

<Response [200]>

In [211]:
headlines=[]
for i in soup.find_all("a", class_="LatestNews-headline"):
    headlines.append(i.text)
print(len(headlines))
#(headlines)

30

In [212]:
time=[]
for i in soup.find_all("time", class_="LatestNews-timestamp"):
    time.append(i.text)
print(len(time))
#(time)

30

In [213]:
url=[]
for i in soup.find_all("a", class_="LatestNews-headline"):
    url.append(i.get('href'))
print(len(url))
#url

30

In [214]:
df_news=pd.DataFrame({'Headline': headlines,
                 'Time':time,
               "News link": url})
df_news

,Headline,Time,News link
0,FDA staff: Pfizer's Paxlovid appears effective...,19 Min Ago,https://www.cnbc.com/2023/03/14/fda-staff-repo...
1,Watch live: Biden announces new plans to curb ...,23 Min Ago,https://www.cnbc.com/2023/03/14/watch-live-bid...
2,Here’s how we navigated three sessions of SVB-...,37 Min Ago,https://www.cnbc.com/2023/03/14/heres-how-we-n...
3,There's still time to make a spousal IRA contr...,44 Min Ago,https://www.cnbc.com/2023/03/14/what-to-know-a...
4,Stocks are bouncing but market will soon face ...,1 Hour Ago,https://www.cnbc.com/2023/03/14/stocks-are-bou...
5,Ohio sues Norfolk Southern over East Palestine...,1 Hour Ago,https://www.cnbc.com/2023/03/14/ohio-sues-norf...
6,Apple reportedly delaying some employee bonuse...,1 Hour Ago,https://www.cnbc.com/2023/03/14/apple-delaying...
7,Morgan Stanley is testing an OpenAI-powered ch...,1 Hour Ago,https://www.cnbc.com/2023/03/14/morgan-stanley...
8,Russian jet downs U.S. Reaper drone over Black...,1 Hour Ago,https://www.cnbc.com/2023/03/14/russian-jet-do...
9,George Santos files 2024 candidacy statement —...,2 Hours Ago,https://www.cnbc.com/2023/03/14/george-santos-...
10,"OpenAI announces GPT-4, claims it can beat 90%...",2 Hours Ago,https://www.cnbc.com/2023/03/14/openai-announc...
11,SVB's new CEO urges clients to 'help us rebuil...,2 Hours Ago,https://www.cnbc.com/2023/03/14/svbs-new-ceo-u...
12,Schwab CEO says firm is seeing significant inf...,2 Hours Ago,https://www.cnbc.com/2023/03/14/charles-schwab...
13,Texas judge asked attorneys to keep news of he...,2 Hours Ago,https://www.cnbc.com/2023/03/14/abortion-pill-...
14,AMC plunges as investors approve reverse stock...,2 Hours Ago,https://www.cnbc.com/2023/03/14/amc-investors-...
15,"As yields fall, some investors are flocking to...",2 Hours Ago,https://www.cnbc.com/2023/03/14/as-yields-fall...
16,The wage gap gets worse for women in their 30s...,2 Hours Ago,https://www.cnbc.com/2023/03/14/the-wage-gap-g...
17,Stocks making the biggest moves midday: BuzzFe...,3 Hours Ago,https://www.cnbc.com/2023/03/14/stocks-making-...
18,Op-ed: Silicon Valley Bank collapse will hurt ...,3 Hours Ago,https://www.cnbc.com/2023/03/14/op-ed-svb-resc...
19,Hedge fund Citadel takes a 5% stake in Western...,3 Hours Ago,https://www.cnbc.com/2023/03/14/ken-griffins-h...
20,"Tyson Foods to close two chicken plants, lay o...",3 Hours Ago,https://www.cnbc.com/2023/03/14/tyson-foods-la...
21,Cramer says Meta is 'rapidly becoming my favor...,3 Hours Ago,https://www.cnbc.com/2023/03/14/club-meeting-r...
22,"Sellers are targeting this bank, but Citi says...",3 Hours Ago,https://www.cnbc.com/2023/03/14/sellers-are-ta...
23,Harvard career expert: The No. 1 'desirable sk...,4 Hours Ago,https://www.cnbc.com/2023/03/14/harvard-career...
24,Zuckerberg's additional jobs cuts at Meta will...,4 Hours Ago,https://www.cnbc.com/2023/03/14/meta-ceo-mark-...
25,Wells Fargo sees this regional bank gaining de...,4 Hours Ago,https://www.cnbc.com/2023/03/14/wells-fargo-se...
26,Credit card debt is the No. 1 dating deal brea...,4 Hours Ago,https://www.cnbc.com/2023/03/14/credit-card-de...
27,These are the top 10 cities where the 'super-r...,4 Hours Ago,https://www.cnbc.com/2023/03/14/top-10-cities-...
28,Novo Nordisk to slash U.S. insulin prices by u...,4 Hours Ago,https://www.cnbc.com/2023/03/14/novo-nordisk-t...
29,SEC and Justice Department are investigating S...,4 Hours Ago,https://www.cnbc.com/2023/03/14/sec-and-justic...

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

### <font color='deeppink'> 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles</font>
#### <font color='red'>Scrape below mentioned details and make data frame</font>
#### <font color='red'>i) Paper Title</font>
#### <font color='red'>ii) Authors</font>
#### <font color='red'>iii) Published Date</font>
#### <font color='red'>iv) Paper URL</font>

In [215]:
page= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
print(page)
soup= bfs(page.content)

<Response [200]>

In [216]:
titles=[]
for i in soup.find_all("h2",class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    titles.append(i.text)
print(len(titles))
#titles

25

In [217]:

authour=[]
for i in soup.find_all("span",class_='sc-1w3fpd7-0 dnCnAO'):
    authour.append(i.text)
print(len(authour))
#authour

25

In [218]:
date=[]
for i in soup.find_all("span",class_='sc-1thf9ly-2 dvggWt'):
    date.append(i.text)
print(len(date))
#date

25

In [219]:
url=[]
for i in soup.find_all("a", class_="sc-5smygv-0 fIXTHm"):
    url.append(i.get('href'))
print(len(url))
#url

25

In [220]:
df=pd.DataFrame({'Paper Title': titles,
                 'Authors':authour,
               'Published Date': date,
               "Paper URL": url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

<div style="background-color: cyan;text-align: center;color: cyan "> -- </div>

### <font color='deeppink'> 9) Write a python program to scrape mentioned details from dineout.co.in and make data frame</font> 
#### <font color='red'>i) Restaurant name</font>
#### <font color='red'>ii) Cuisine</font>
#### <font color='red'>iii) Location</font>
#### <font color='red'>iv) Ratings</font>
#### <font color='red'>v) Image URL </font>

In [221]:
page= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
print(page)
soup= bfs(page.content)

<Response [200]>

In [222]:
titles=[]
for i in soup.find_all("a",class_='restnt-name ellipsis'):
    titles.append(i.text)
titles

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [223]:
cuisine=[]
for i in soup.find_all("span", class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [224]:
location=[]
for i in soup.find_all("div",class_='restnt-loc ellipsis'):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [225]:
rating=[]
for i in soup.find_all("div",class_='restnt-rating rating-4'):
    rating.append(i.text)
rating

['4.1', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [226]:
image=[]
for i in soup.find_all("img", class_="no-img"):
    image.append(i.get('data-src'))
image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [227]:
df=pd.DataFrame({'Name': titles,
                 'Cuisines':cuisine,
               'Location': location,
               'Rating': rating,
               "Image URL": image})
df

,Name,Cuisines,Location,Rating,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

<div style="background-color: cyan;text-align: center;color: blue "> THE END </div>